In [11]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('Entire_Sales_April2021_October2022.csv')

In [21]:
df['usd_value'].mean()

79957.95793519507

In [22]:
df[df['token_id'] == 2488]

,token_id,time,usd_value,Clothes_Admirals Coat,Clothes_Bandolier,Clothes_Bayc T Black,Clothes_Bayc T Red,Clothes_Biker Vest,Clothes_Black Holes T,Clothes_Black Suit,...,Hat_Safari,Hat_Sea Captain's Hat,Hat_Seaman's Hat,Hat_Short Mohawk,Hat_Spinner Hat,Hat_Stuntman Helmet,Hat_Sushi Chef Headband,Hat_Trippy Captain's Hat,Hat_Vietnam Era Helmet,Hat_Ww2 Pilot Helm
27230,2488,1.619919e+09,29326.87,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df = pd.read_csv('FamousApes.csv')

In [16]:
df['log_price'] = df['price'].apply(lambda x: np.log(x))

In [18]:
df.to_csv('clean_famous.csv', index=False)