In [48]:
import pandas as pd
import numpy as np
import datetime as dt

In [49]:
df = pd.read_csv('Entire_Sales_April2021_October2022.csv')

In [50]:
df['date'] = pd.to_datetime(df['time'],unit='s')

In [51]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [52]:
df['month_year'] = df.apply(lambda row: str(row['month']) + '/' + str(row['year']), axis=1)

In [53]:
month_year_aggregation = df.groupby('month_year')['usd_value'].mean().reset_index()

In [54]:
month_year_aggregation['month_year']= month_year_aggregation['month_year'].apply(lambda x: pd.to_datetime(x))

In [55]:
month_year_aggregation = month_year_aggregation.sort_values(by='month_year')

In [56]:
month_year_aggregation = month_year_aggregation[month_year_aggregation['month_year'] != '2022-11-01']
month_year_aggregation = month_year_aggregation[month_year_aggregation['month_year'] != '2021-04-01']
month_year_aggregation['month_year'] = month_year_aggregation['month_year'].apply(lambda x: pd.to_datetime(x, format='%b/%Y'))

In [57]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
month_year_aggregation

   month_year  usd_value
10 2021-05-01   1990.789
12 2021-06-01   7204.424
14 2021-07-01  13164.163
16 2021-08-01  86254.218
18 2021-09-01 165661.054
1  2021-10-01 168718.747
3  2021-11-01 218451.828
5  2021-12-01 258224.529
0  2022-01-01 285559.906
6  2022-02-01 310458.191
7  2022-03-01 294892.089
9  2022-04-01 412010.085
11 2022-05-01 283708.623
13 2022-06-01 130506.751
15 2022-07-01 133419.402
17 2022-08-01 150088.210
19 2022-09-01 120373.459
2  2022-10-01 112625.988

In [58]:
month_year_aggregation['size'] = month_year_aggregation['usd_value'].apply(lambda x: int(x))

In [59]:
month_year_aggregation[['month_year','size']].to_csv('monthly_average_price.csv',index=False)