In [26]:
import pandas as pd
import numpy as np
import datetime as dt

In [27]:
df = pd.read_csv('Entire_Sales_April2021_October2022.csv')

In [28]:
df['date'] = pd.to_datetime(df['time'],unit='s')

In [29]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [30]:
df['month_year'] = df.apply(lambda row: str(row['month']) + '/' + str(row['year']), axis=1)

In [31]:
month_year_aggregation = df.groupby('month_year')['usd_value'].sum().reset_index()

In [32]:
month_year_aggregation['month_year']= month_year_aggregation['month_year'].apply(lambda x: pd.to_datetime(x))

In [33]:
month_year_aggregation = month_year_aggregation.sort_values(by='month_year')

In [34]:
month_year_aggregation = month_year_aggregation[month_year_aggregation['month_year'] != '2022-11-01']

In [35]:
month_year_aggregation = month_year_aggregation[month_year_aggregation['month_year'] != '2021-04-01']
month_year_aggregation['month_year'] = month_year_aggregation['month_year'].apply(lambda x: pd.to_datetime(x, format='%b/%Y'))

In [36]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
month_year_aggregation

   month_year     usd_value
10 2021-05-01  16290628.900
12 2021-06-01  44436887.680
14 2021-07-01  37557357.060
16 2021-08-01 293523102.470
18 2021-09-01 130209588.240
1  2021-10-01  95157373.260
3  2021-11-01 198791163.580
5  2021-12-01 146671532.660
0  2022-01-01 318399294.780
6  2022-02-01 120768236.180
7  2022-03-01 242106404.740
9  2022-04-01 225369516.720
11 2022-05-01 210795506.690
13 2022-06-01  70865165.800
15 2022-07-01  41626853.320
17 2022-08-01  48178315.260
19 2022-09-01  26963654.870
2  2022-10-01  24665091.350

In [37]:
month_year_aggregation['size'] = month_year_aggregation['usd_value'].apply(lambda x: round(x / 1000000, 1))

In [38]:
month_year_aggregation[['month_year','size']].to_csv('monthly_sales_volume.csv',index=False)